
<!-- <div *ngFor="let single of dataService.single">
    <h1>{{this.single.revenue}}</h1>
</div> -->
<div class="container">
    <div class="row offset-sm-1">
        
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Customers: {{this.sumCustomers}}</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Revenue: {{this.sumRevenue}}</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Transactions: {{this.sumTransactions}}</button>
        </div>
       
    </div>
</div>




<app-customers></app-customers>

