<div class="container">
    <div class="row offset-sm-1">
        
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Customers: {{this.sumCustomers}}</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Revenue: {{this.sumRevenue}}</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <button class="btn btn-info btn-lg mt-5" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);">Transactions: {{this.sumTransactions}}</button>
        </div>
       
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="container mb-5">
                <button class="btn btn-dark btn-md mr-3" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);" routerLink="customers">Customers</button>
                <button class="btn btn-dark btn-md mr-3" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);" routerLink="revenue">Revenue</button>
                <button class="btn btn-dark btn-md" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);" routerLink="transactions">Transactions</button>
            </div>
            <div class="chart-wrapper">
                <canvas baseChart
                    [datasets]="this.lineChartData" 
                    [labels]="this.lineChartLabels" 
                    [options]="this.lineChartOptions"
                    [colors]="this.lineChartColors" 
                    [legend]="this.lineChartLegend" 
                    [chartType]="this.lineChartType" 
                    [plugins]="this.lineChartPlugins">
                </canvas>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-dark btn-md dropdown-toggle" style="box-shadow: 3px 3px 6px rgb(44, 148, 218);" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Span
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink='customers'>30 Days Customers</a>
                        <a class="dropdown-item" routerLink='revenue'>30 Days Revenue</a>
                        <a class="dropdown-item" routerLink='transactions'>30 Days Transactions</a>
                        <a class="dropdown-item" routerLink='ninety-days-customers'>90 Days Customers</a>
                        <a class="dropdown-item" routerLink='ninety-days-revenue'>90 Days Revenue</a>
                        <a class="dropdown-item" routerLink='ninety-day-transactions'>90 Days Transactions</a>
                        <a class="dropdown-item" routerLink='one-eighty-days-customers'>180 Days Customers</a>
                        <a class="dropdown-item" routerLink='one-eighty-days-revenue'>180 Days Revenue</a>
                        <a class="dropdown-item" routerLink='one-eighty-days-transactions'>180 Days Transactions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
